@charset "UTF-8";
@font-face {
  font-family: 'Roboto';
  src: local("Roboto-Black"), local("Roboto-Black"), url("../fonts/Roboto-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: local("Roboto-Bold"), local("Roboto-Bold"), url("../fonts/Roboto-Bold.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}

body {
  height: 100%;
  font-family: Roboto;
  background-color: #141825;
}

.wrap {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  max-width: 1240px;
  padding: 0 10px;
  flex: 1 1 auto;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}

/**
 * Сброс стилей
 **/
button {
  cursor: pointer;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a,
em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  text-decoration: none;
  color: inherit;
}

article, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

input {
  outline: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

.fullscreen-block {
  min-height: 100vh;
  position: relative;
}

.header {
  margin-top: 19px;
}

.header-logoSelect {
  display: flex;
  align-items: center;
}

.header-logoSelect__logo {
  flex: 0 1 142px;
  min-height: 95px;
  margin-right: 60px;
}

.header-logoSelect__imgLogo {
  max-width: 100%;
}

.header-logoSelect-select {
  flex: 0 0 75px;
  position: relative;
}

.header-logoSelect-label {
  display: flex;
  padding: 8px;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.header-logoSelect-label::after {
  position: absolute;
  content: '';
  background: #fff;
  opacity: 0.05;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 6px;
}

.header-logoSelect-label__name {
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0.5px;
  font-size: 12px;
}

.header-logoSelect-label__arrImg {
  width: 0;
  height: 0;
  margin-top: 2px;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #C4C4C4;
  transition: 0.2s ease all;
}

.header-logoSelect-label__arrImg.active {
  transform: rotate(180deg);
  transition: 0.2s ease all;
}

.header-logoSelect-label__img {
  width: 20px;
  height: 20px;
}

.header-logoSelect-label__img img {
  max-width: 100%;
}

.header-logoSelect-label--brNo.header-logoSelect-label::after {
  border-radius: 6px 6px 0 0;
}

.header-logoSelect-lang {
  position: absolute;
  opacity: 1;
  visibility: visible;
  transition: 0.3s ease all;
  bottom: -28px;
  z-index: 1;
  width: 75px;
}

.header-logoSelect-lang::after {
  content: '';
  background: #fff;
  opacity: 0.05;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0 0 6px 6px;
}

.header-logoSelect-lang__label {
  padding: 0 8px 8px;
  box-sizing: border-box;
  position: relative;
  bottom: 0;
  z-index: 2;
  display: flex;
  align-items: center;
}

.header-logoSelect-lang__img {
  flex: 0 0 20px;
  height: 20px;
  margin-right: 7px;
}

.header-logoSelect-lang__img img {
  max-width: 100%;
}

.header-logoSelect-lang__name {
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0.5px;
  font-size: 12px;
}

.header-logoSelect-lang--close {
  transition: 0.3s ease all;
  opacity: 0;
  visibility: hidden;
}

.img-wall {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 1343px;
  height: 100%;
}

.img-wall img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-stadium {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: url("../images/backgrStadium.png") no-repeat center/cover;
}

.img-shadowRight {
  position: absolute;
  bottom: -2px;
  right: 0;
}

.img-neon {
  position: absolute;
  bottom: -10px;
  left: 0;
  z-index: 1;
}

.img-coin {
  position: absolute;
  bottom: -2px;
  left: 0;
}

.img-shadowCenter {
  position: absolute;
  bottom: 19%;
  left: 0;
}

.header-logoSelect-label:hover .header-logoSelect-label__name {
  color: #00B0D6;
}

.header-logoSelect-label:hover .header-logoSelect-label__arrImg {
  border-top: 4px solid #00B0D6;
}

.header-logoSelect-lang__label:hover .header-logoSelect-lang__name {
  color: #00B0D6;
}
